<div class="container">
  <h2 class="header text-center">My Skills</h2>
  <p class="subheader text-center text-muted font-weight-bold mb-5">
    Experience using these technologies
  </p>
  <div class="row">
    <div class="skill col-lg-3 col-sm-4 col-6 text-center mt-3">
      <p class="tech-name">
        Html
      </p>
      <span class="fa-stack">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-html5 fa-stack-1x"></i>
      </span>
    </div>
    <div class="skill col-lg-3 col-sm-4 col-6 text-center mt-3">
      <p class="tech-name">
        Css
      </p>
      <span class="fa-stack fa-6x">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-css3-alt fa-stack-1x"></i>
      </span>
    </div>
    <div class="skill col-lg-3 col-sm-4 col-6 text-center mt-3">
      <p class="tech-name">
        JavaScript
      </p>
      <span class="fa-stack fa-6x">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-js fa-stack-1x"></i>
      </span>
    </div>
    <div class="skill col-lg-3 col-sm-4 col-6 text-center mt-3">
      <p class="tech-name">
        Angular
      </p>
      <span class="fa-stack fa-6x">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-angular fa-stack-1x"></i>
      </span>
    </div>
    <div class="skill col-lg-3 col-sm-4 col-6 text-center mt-3">
      <p class="tech-name">
        Python
      </p>
      <span class="fa-stack fa-6x">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-python fa-stack-1x"></i>
      </span>
    </div>
    <div class="skill col-lg-3 col-sm-4 col-6 text-center mt-3">
      <p class="tech-name">
        Git
      </p>
      <span class="fa-stack fa-6x">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-git-alt fa-stack-1x"></i>
      </span>
    </div>
    <div class="skill col-lg-3 col-sm-6 col-6 text-center mt-3">
      <p class="tech-name">
        GitHub
      </p>
      <span class="fa-stack fa-6x">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-github fa-stack-1x"></i>
      </span>
    </div>
    <div class="skill col-lg-3 col-sm-6 col-6 text-center mt-3">
      <p class="tech-name">
        Node.Js
      </p>
      <span class="fa-stack fa-6x">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-node-js fa-stack-1x"></i>
      </span>
    </div>
  </div>
</div>
<div class="design"></div>
